<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="DataSection.css" rel="stylesheet">
        <link href="Form.css" rel="stylesheet">
        <link href="HeaderSection.css" rel="stylesheet">
        <link href="./asset/css/bootstrap.css" rel="stylesheet">
        
        <script src="./asset/js/bootstrap.bundle.js"></script>
        
        <title>Search</title>

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./css/styles.css" rel="stylesheet" />
    </head>

    <body>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Search</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/GrafikBar?Buku=1">Graph</a></li>
                        <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="/graph">Undirected Graph</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="header-section-wraper min-vh-100">
            <div class='container'>
                <div class='header-section-title-wraper'>
                    <div class='row'>
                        <div class='col-sm-12 col-md-6 col-lg-6'>
                            <!-- <div class='header-section-margin'>
                                <h1 class='header-section-title'>Game</h1>
                                <h1 class='header-section-title'>Of Throne</h1>
                            </div> -->
                            <br><br><br>
                            <div class='space'>
                                <div class=''>
                                    <label class='label-header'>Search Interaksi Karakter tertentu </label>
                                    <form action="/search" method="get">
                                        <input name="start" value="0" style="display: none">
                                        <select name="Buku">
                                            <%if(Buku==undefined){%>
                                                <option disabled selected="true">Pilih Buku Yang Di Inginkan</option>
                                            <%}else{%>
                                                <option disabled>Pilih Buku Yang Di Inginkan</option>
                                            <%}%>
                                            <%if(Buku=='1'){%>
                                                <option value="1" selected="selected">1</option>
                                            <%}else{%>
                                                <option value="1">1</option>
                                            <%}%>
                                            <%if(Buku=='2'){%>
                                                <option value="2" selected="selected">2</option>
                                            <%}else{%>
                                                <option value="2">2</option>
                                            <%}%>
                                            <%if(Buku=='3'){%>
                                                <option value="3" selected="selected">3</option>
                                            <%}else{%>
                                                <option value="3">3</option>
                                            <%}%>
                                            <%if(Buku=='4'){%>
                                                <option value="4" selected="selected">4</option>
                                            <%}else{%>
                                                <option value="4">4</option>
                                            <%}%>
                                            <%if(Buku=='5'){%>
                                                <option value="5" selected="selected">5</option>
                                            <%}else{%>
                                                <option value="5">5</option>
                                            <%}%>
                                        </select>
                                        <%if(Karakter==undefined){%>
                                            <input type="text" name="Karakter" placeholder="Ketik Interaksi Karakter Yang Di Inginkan.."/>
                                        <%}else{%>
                                            <input type="text" name="Karakter" value=<%=Karakter%>>
                                        <%}%>
                                        <button class='button-pagination' type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class='header-section-image'>
                            <img src='asset/image/header2.png' alt='headerimage'/>
                        </div>
                    </div>
                </div>
                <div class='data-title-wraper'>
                    <h1 class='data-title-list' >Daftar Data Interaksi</h1>
                </div>
                <div class='card-data-list'>
                    <div class='row card-data-wraper-content'>
                        <div class='col-sm-4 col-md-4 col-lg-2'>
                            <div class=''>
                                <h1 class='card-data-title'>No</h1>
                                <%if(hasil==undefined){%>
                                    <p class='card-data-sub-title'>1.</p>
                                <%}else{%>
                                    <%for(let i=start;i<hasil.length+start;i++){%>
                                        <p class='card-data-sub-title'><%=i+1%></p>
                                    <%}%>
                                <%}%>
                            </div>
                        </div>
                        <div class='col-sm-4 col-md-4 col-lg-4'>
                            <div class=''>
                                <h1 class='card-data-title'>Berinteraksi Dengan</h1>
                                <%if(hasil!=undefined){%>
                                    <%for(let i of hasil){%>
                                        <p class='card-data-sub-title'><%=i.target%></p>
                                    <%}%>
                                <%}else{%>
                                    <p class='card-data-sub-title'></p>
                                <%}%>
                            </div>
                        </div>
                        <div class='col-sm-4 col-md-4 col-lg-4'>
                            <div class=''>
                                <h1 class='card-data-title'>Count Interaksi</h1>
                                <%if(hasil!=undefined){%>
                                    <%for(let i of hasil){%>
                                        <p class='card-data-sub-title'><%=i.weight%></p>
                                    <%}%>
                                <%}else{%>
                                    <p class='card-data-sub-title'></p>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class='text-center'>
                        <%if(start==undefined){%>
                            <button class='button-pagination'>Next</button>
                            <button class='button-pagination'>Previous</button>
                        <%}else{%>
                            <%for(let i=0;i<berapaHalaman;i++){%>
                                <%if(i==(start/10)){%>
                                    <button class='button-pagination' type="submit" style="background-color: rgb(46, 169, 222);">
                                        <a style="color: gray" href="/search?start=<%=i*10%>&Buku=<%=Buku%>&Karakter=<%=Karakter%>"><%=i+1%></a>
                                    </button>
                                <%}else{%>
                                    <button class='button-pagination' type="submit">
                                        <a style="color: gray" href="/search?start=<%=i*10%>&Buku=<%=Buku%>&Karakter=<%=Karakter%>"><%=i+1%></a>
                                    </button>
                                <%}%>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
        
        
    
    </body>
</html>